<%- include('partials/header.ejs') %>
<a href="http://localhost:8000/genres"> &#60;-- Volver a Generos </a>
<h1>Crear Genero</h1>
<form action="/genres" method="post">
  <div class="column">
    <label for="name">Nombre</label>
    <input type="text" name="name" id="name" />
  </div>
  <button type="submit">Enviar</button>
</form>
<%- include('partials/footer.ejs') %>
